{{> navbar}}

<div class="container mt-5">
  <h2>{{blogPost.title}}</h2>
  <p>Published by {{blogPost.User.username}} on {{blogPost.dateCreated}}</p>
  <p>{{{blogPost.content}}}</p>

  <h3>Comments</h3>
  {{#each comments}}
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">{{User.username}} said on {{dateCreated}}</p>
        <p>{{text}}</p>
      </div>
    </div>
  {{/each}}

  {{#if isAuthenticated}}
    <form action="/blog/{{blogPost.id}}/comment" method="POST">
      <div class="form-group">
        <label for="comment">Leave a Comment:</label>
        <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
  {{/if}}
</div>